<script is:inline>
    document.addEventListener('trackingNumber', async (e) => {
        const tableBody = document.querySelector('.tbody');
        const { trackingNumber } = e.detail;
        const res = await fetch(`http://localhost:3000/envios/${trackingNumber}`);
        const data = await res.json();
        const dataEnvio = data.datos;
        
        if(dataEnvio) {
            tableBody.innerHTML = `
                <tr>
                    <td data-label="Estado">${dataEnvio[0].estado}</td>
                    <td data-label="HBL">${dataEnvio[0].hbl}</td>
                    <td data-label="Contenedor/guía">${dataEnvio[0].contenedor_guia}</td>    
                    <td data-label="Fecha de salida">${dataEnvio[0].fecha_envio}</td>    
                    <td data-label="Nombre consignatario">${dataEnvio[0].nombre_consignatario}</td>    
                    <td data-label="Carnet de identidad">${dataEnvio[0].carnet_identidad}</td>    
                </tr>
            `
        } else {
            tableBody.innerHTML = `
                <tr>
                    <td colspan="6"><h2 style="color: #555555; text-align: center">No se encontró resultado</h2></td>    
                </tr>
            `
        }
    })
</script>

<table class="table">
	<thead>
		<tr>
			<th>Estado</th>
			<th>HBL</th>
			<th>Contenedor/guía</th>
			<th>Fecha de salida</th>
			<th>Nombre consignatario</th>
			<th>Carnet de identidad</th>
		</tr>
	</thead>
	<tbody class="tbody"></tbody>
</table>

<style>
    :global(.table) {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    :global(.table thead) {
        background-color: #cacaca;
    }

    :global(.table th), :global(.table td) {
        padding: 8px;
        text-align: left;
    }

    @media (max-width: 780px) {
        :global(.table thead) {
            display: none;
        }

        :global(.table),
        :global(.table tbody),
        :global(.table th),
        :global(.table td),
        :global(.table tr) {
          display: block;
          width: 100%;
        }

        :global(.table tr) {
          margin-bottom: 1rem;
          border: 1px solid #ddd;
          border-radius: 8px;
          padding: 0.5rem;
          background: #f9f9f9;
        }

        :global(.table td) {
          border: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.4rem 0;
          white-space: normal;
        }

        :global(.table td)::before {
          content: attr(data-label) ": "; /* el nombre de la propiedad */
          font-weight: bold;
          text-align: left;
        }

        :global(.table td):last-child {
            margin-bottom: 0;
        }
    }
</style>